<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CitySearch</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div id="banner">
        <a href="{{url_for('home')}}"> Home </a>
        <a href="{{url_for('user')}}"> User </a>
        <a href="{{url_for('random_city')}}"> Feel Lucky? </a>
    </div>


    <div id="fav_cities">
        <h2> Favorite Cities </h2>

        {% if favs is defined %}
            <div>

                <ul>

                {% for fav in favs %}

                    <li><a href="{{url_for('city', name=fav)}}"> {{ fav }} </a></li>

                {% endfor %}

                </ul>
            </div>
        {% else %}

        <h4> Add favorites by cliking on cities name </h4>

        {% endif %}
    </div>



    <div id="search">

        </h2> Search Cities </h2>

        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for cities.." title="Type in a city">


        <ul id="myUL">

        {% for city in cities %}

            <li><a href="{{url_for('city', name=city)}}"> {{ city }} </a></li>

        {% endfor %}

    </ul>
    </div>

<script>
function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>


</body>
</html>