<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form action="/signup" method="POST">
        <!-- Heading -->
        <h4>
            Create an account
        </h4>

        <!-- Subheading -->
        <p >
            Please fill up your information below to sign up.
        </p>
        <div>
            <label>Full Name</label>
            <div>
                <input type="text"  name="full_name" id="full_name" required>
            </div>
        </div>

        <div>
            <label>Username</label>
            <div>
                <input type="text"  name="username" id="username" required>
            </div>
        </div>

        <div>
            <label>Bio</label>
            <div>
                <input type="text"  name="bio" id="bio" maxlength="280">
            </div>
        </div>

        <!-- Email -->
        <div>
            <label>Email</label>
            <div>
                <input type="text"  name="email" id="emailStr" required>
            </div>
        </div>

        <!-- Password -->
        <div>
            <label>Password</label>
            <div class="input-group">
                <input type="password"  name="password" minlength="6">
            </div>
        </div>
        
        <!-- Button -->
        <div>
            <input type="submit"/>
        </div>
    </form>

    <br>

    <a href="/">Signin</a>
    <br>

    <h4> {{ error }} </h4>
    
</body>
</html>