<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CitySearch / {{ username }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div id="banner">
        <a href="{{url_for('home')}}"> Home </a>
        <a href="{{url_for('user')}}"> User </a>
        <a href="{{url_for('random_city')}}"> Feel Lucky? </a>
    </div>

    <div id="user_info">
    <h2> User: {{ username }} </h2>
    <h2> {{ full_name }} </h2>
    </div>


    {% if favs is defined %}
    <h2> {{username}}'s Favorite Cities </h2>
        <div>

            <ul>

            {% for fav in favs %}

                <li><a href="{{url_for('city', name=fav)}}"> {{ fav }} </a></li>

            {% endfor %}

            </ul>
        </div>
    {% endif %}

</body>
</html>